# ================================
# CONFIGURACIÓN GENERAL
# ================================
SECRET_KEY=postgres
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ================================
# BASE DE DATOS PostgreSQL
# ================================
DB_NAME=ventas_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=ventas_schema

# ================================
# JWT
# ================================
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
